---
import MeasurementGridItem from "@components/MeasurementGridItem.astro";
import prisma from "@helpers/prisma";
import Layout from "@layouts/Layout.astro";

const data = await prisma.skyMeasurement.findMany({
  select: {
    id: true,
    created_at: true,
    average_color: true,
    image: true,
  },
  orderBy: {
    created_at: "desc",
  },
});
---

<Layout
  title="MADSKY"
  description="Observa el cielo de Madrid y sus colores a lo largo de los días"
  keywords="Madrid,cielo,color,colores"
>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-0">
    {
      data.map((d) => {
        return (
          <div class="col">
            <MeasurementGridItem
              id={d.id}
              color={d.average_color}
              date={d.created_at}
              image={d.image}
            />
          </div>
        );
      })
    }
  </div>
</Layout>
