---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    title: string;
    description?: string;
    keywords?: string;
  };
}

const { title, description, keywords } = Astro.props.frontmatter;
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <slot />
      </div>
    </div>
  </div>
</Layout>

<style is:inline>
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  #collaborate-logo {
    img {
      height: 60px;
      width: 217px;
    }
  }
</style>
